:root {
    --primary-color: #BF4E4A;
    --dark-color: #343232;
    --dark-secondary-color: #1f1e1e;
    --light-color: #E0E0E0;
    --shadow-color: rgba(31, 30, 30, 0.5)
}


html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

footer {
    bottom: 0;
    width: 100%;
    background: var(--light-color); 
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul, ol {
  list-style: none;
}

li{
    margin-bottom: 1vw;
}

p{
    font-family: "Open Sans", sans-serif;
    font-size: 1.2vw;
    font-weight:600;
    text-align: center;
    color:var();
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #E0E0E0;
    opacity: 0.5;
    background-image:  radial-gradient(#343232 1.9000000000000001px, transparent 1.9000000000000001px), radial-gradient(#343232 1.9000000000000001px, #E0E0E0 1.9000000000000001px);
    background-size: 76px 76px;
    background-position: 0 0,38px 38px;
    z-index: -2;
}

.title{
    margin: 1vw;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 5vw;
}

.menu {
    margin: 2vw;
    width: 60vw;
    height: auto;
    padding: 1vw;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2rem;
    box-shadow: 0 0px 16px var(--shadow-color);
}

.grid {
    display: flex;
    gap: 2vw;
    justify-content: center;
    width: max-content;
    margin: 0 auto;
}

.column {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

.highlight{
    color:var(--primary-color);
}

.settingSection{
    border: 2px solid var(--dark-color);
    border-radius: 2vw;
}

#left-bottom-item, #right-bottom-item {
    margin-bottom: 0;
}

#track-menu {
    cursor:pointer;
}

#track-menu .child{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* ensures aspect ratio is maintained */
    display: block;  /* removes default inline space */
}
