<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F1 Race Manager | Starting Menu</title>
    <link rel="stylesheet" type="text/css" href="style/startMenu.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
    <body>
    <div class="background"></div>
        <div class="container">
            <div class="f1-lights">
                <div class="green-light"></div>
                <div class="yellow-light"></div>
                <div class="red-light-on" ></div>
                <div class="red-light-on" ></div>
            </div>
            <div class="f1-lights">
                <div class="green-light"></div>
                <div class="yellow-light"></div>
                <div class="red-light-on" ></div>
                <div class="red-light-on" ></div>
            </div>
            <div class="f1-lights">
                <div class="green-light"></div>
                <div class="yellow-light"></div>
                <div class="red-light-on" ></div>
                <div class="red-light-on" ></div>
            </div>
            <div class="f1-lights">
                <div class="green-light"></div>
                <div class="yellow-light"></div>
                <div class="red-light-on" ></div>
                <div class="red-light-on" ></div>
            </div>
            <div class="f1-lights">
                <div class="green-light"></div>
                <div class="yellow-light"></div>
                <div class="red-light-on" ></div>
                <div class="red-light-on" ></div>
            </div>
        </div>
        <div class="container" id="menu">
            <div class="box-grid">
                <form action="raceSettings"><button class="box" id="race-settings">Race Settings</button></form>
                <form action="trackSettings"><button class="box" id="track-settings">Track Settings</button></form>
                <form action="gridSettings"><button class="box" id="grid-settings">Grid Settings</button></form>
                <form action="teamSettings"><button class="box" id="teams-settings">Teams Settings</button></form>
            </div>
            <form action="modeSettings"><button class="box" id="mode-button">Mode</button></form>
            <form action="race"><button class="box" id="start-button">Lights Out</button></form>
        </div>
    </body>
</html>