<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>F1 Race Manager</title>
    <link rel="stylesheet" type="text/css" href="style/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background"></div>

    <div class="container">
        <h1 class="title"><span class="highlight">F1</span> Race Manager</h1>
    </div>
    <div class="container">
        <div id="menu">
            <ul>
                <li>
                    <form action="/controls">
                        <button id="start-button">Start</button>
                    </form>
                </li>
                <li>
                    <form>
                        <button id="credits-button">Credits</button>
                    </form>
                </li>
                <li>
                    <form>
                        <button id="about-button">About</button>
                    </form>
                </li>
                <li><p>Made by <span class="highlight">ZyreX-Infinity</span></p></li>
            </ul>
        </div>
    </div>
</body>
</html>